<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">etao3c</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% navbar_menus.each do |menu| %>
            <li class="<%= menu[2] %>">
              <a href="<%= menu[0] %>"><%= menu[1] %></a>
            </li>
          <% end %>
        </ul>
        <%= render :partial => "/partials/search" %>
        <% if !user_signed_in? %>
          <%= render :partial => "/partials/email" %>
        <% elsif %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/logout">exit</a></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


