<tr>
  <td>
    <h5><a href="<%= product.path %>"><%= product.name %></a></h5>
    <div style="width: 100%; height: 220px;" id="<%= product.kid %>"></div>
  </td>
  <td class="w200">
    <div class="thumbnail">
      <a href="<%= product.path %>"><img src="<%= product.img_path %>"/></a>
      <div class="caption">
        <p><%= product.comment_counter %><%= t("keyword.comment") %>&nbsp;|&nbsp;<%= product.user_counter %><%= t("keyword.look") %></p>
        <div class="input-prepend">
          <% if user_signed_in? %>
            <% if product.uf == 1 %>
              <a class="add-on" onclick="$_product.follow(this, '<%= product.id %>', 'remove')">-</a>
            <% else %>
              <a class="add-on" onclick="$_product.follow(this, '<%= product.id %>', 'add')">+</a>
            <% end %>
          <% end %>
          <div class="price">￥<%= product.price %></div>
        </div>
      </div>
    </div>
  </td>
</tr>
<script type="text/javascript">
  $(function(){
    var kid = "<%= product.kid %>";
    var categories = '<%= raw product.created_at_js %>'.to_obj();
    var series = '<%= raw product.price_series %>'.to_obj();
    if(series[0].data.length > 1)
      $_highcharts.line(kid, "", "", categories, "价格（￥）", series);
  });
</script>

